@use "../mixins";
@use "../media";

.button-burger {
	@include mixins.reset-button;
	@include mixins.square(48px);

	position: relative;
	border-radius: var(--border-radius);

	@include media.hover {
		background-color: var(--color-accent);
	}

	&::after {
		@include mixins.abs-center;

		content: "";
		width: 50%;
		height: 2px;
		background-color: var(--color-dark);
		border-radius: 5px;
		box-shadow: 0 -8px, 0 8px;
	}
}