@use "../media";

.contact-us {
	position: relative;
	overflow-x: hidden;

	@include media.mobile-above {
		padding: 60px 100px 80px;
		background-color: var(--color-gray);
		border-radius: var(--border-radius-large);
	}

	&::after {
		--contactUsImageOffsetImageY: 62px;

		content: "";
		position: absolute;
		top: 50%;
		left: 100%;
		translate: -50% -50%;
		height: calc(100% - var(--contactUsImageOffsetImageY) * 2);
		aspect-ratio: 1;
		background: url("/icons/contact-us-bg.svg") center/contain no-repeat;

		@include media.tablet {
			display: none;
		}
	}

	&__form,
	&__body {
		display: flex;
		flex-direction: column;
	}

	&__request-types,
	&__body {
		@include media.mobile {
			background-color: var(--color-gray);
		}
	}

	&__request-types {
		@include media.mobile {
			width: 100%;
			padding: 40px 52px 36px;
			border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
		}
	}

	&__form {
		@include media.tablet-above {
			max-width: 556px;
		}

		@include media.mobile-above {
			row-gap: 40px;
		}
	}

	&__body {
		row-gap: 25px;

		@include media.mobile {
			row-gap: 20px;
			margin-bottom: 30px;
			padding: 10px 30px 50px;
			border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
		}
	}
}
